<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JpaMuziek</title>
</head>
<body>

<th:block th:if="${albums}">
         <th:block th:replace="fragments::albumsDisplayer(title = 'Albums', albums = ${albums})"></th:block>
</th:block>
<th:block th:if="${albumsPerJaar}">
    <th:block th:replace="fragments::albumsDisplayer(title = ${albumsPerJaar[0].jaar}, albums = ${albumsPerJaar})"></th:block>
</th:block>
<th:block th:if="${albumsPerArtiest}">
    <th:block th:replace="fragments::albumsDisplayer(title = ${albumsPerArtiest[0].artiest.naam}, albums = ${albumsPerArtiest})"></th:block>
</th:block>

</body>
</html>